<section>
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/gallery/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{title}}</header>
    <!-- The card contains the first painting of the gallery -->
    <p>
        {{content}}
    </p>
  </a>
</section>