<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navsection"  >
        <a href="/" class = "navlink">Home</a>
        {{#if logged_in}}
        <a href="/dashboard" class = "navlink">Dashboard</a>
        <a href="/logout" class = "navlink">Logout</a>
        {{else}}
        <a href="/login" class = "navlink">Login</a>
        {{/if}}
        <div class = "techheader"><h1>The Tech Blog</h1></div>
    </nav>

    <header>
    </header>
      <main>

{{{body}}}
      </main>

  </body>
   
</html>