<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
    <nav>
        <p>Home</p>
        <p>Dashboard</p>
        {{#if logged_in}}
        <p>Logout</p>
        {{else}}
        <p>Login</p>
        {{/if}}
    </nav>

    <header>
      <h1>
        The Tech Blog
      </h1>
    </header>
      <main>
{{!-- {{#each posts as |blog|}}
{{> post-details}}
{{/each}} --}}

{{{body}}}
      </main>

  </body>

</html>