<html>
<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <p>Home</p>
        <p>Dashboard</p>
        <p>Login</p>
        <p>Logout</p>

    </nav>

    <header>
      <h1>
        The Tech Blog
      </h1>
    </header>
      <main>
      </main>

  </body>

</html>