 <form class="form newcomment-form">

      <div class="form-group">
        <label for="newcomment-content">Type your comment here.</label>
        <input class="form-input" type="text" id="comment-content" />
      </div>
      <div class="form-group">
        <button class="postBtn" type="submit">Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/newcomment.js"></script>